*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(33, 171, 199, 0.295);
}

header{
    max-width: 100%;
    display: flex;
    max-height: 100px;
    justify-content: center;
    background-color: rgba(142, 216, 231, 0.911);
    box-shadow: 1px 1px 6px #bd82ee;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    width: 970px;
}

/*menu*/
.menu-mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm-line{
    height: 5px;
    background-color: #ffffff;
}


.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
margin: 0;
padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    margin-top: 20px;
    display: block;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f897e0;
    text-shadow:#000 1px 1px;
}
.logo{
    margin-top: 15px;
}

nav a:hover{
    color: black;
    text-shadow: #f897e0 2px 3px;
}

/*container ONE*/


.container-section h1{
    font-size: 60px;
    text-shadow: #f897e0 2px 3px;
    
}


.header-one{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.container-section{
    display: flex;
    flex-direction: column;

}
.container-section p{
    font-size: 20px;
    padding: 10px;
}
.img-one img{
    box-shadow: 3px 0px 4px #f897e0;
}

.img-two{
   box-shadow: 1px 0px 10px #f897e0;
    margin: 100px;
}


/*CONTAINER PART 2*/

.banner-video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-video video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.conteudo-video{
    position: relative;
    z-index: 1;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}
.conteudo-video h1{
    text-shadow: #f897e0bb 2px 3px;
    margin: 0;
    padding: 0;
    font-size: 3.5em;
}

/*container-three */

.container-three{
display: flex;
max-width: 100%;
justify-content: center;
align-items: center;
}

.container-three h1{
    text-shadow: #f897e0bb 2px 3px;
    font-size: 3.5em;
}

.text-about{
    max-width: 500px;
}

.text-about li{
    font-size: 20px;
    padding: 20px;
    list-style: circle;
}
.img-beneficio{
    padding: 30px;
    margin-left: 60px;
    margin: 0;
}
.img-beneficio img {
    box-shadow: 1px 0px 20px #f897e0;
}
.img-beneficio-1{
    display: flex;
    flex-wrap: wrap-reverse;
    box-shadow: 1px 0px 10px #f897e0;
}

/*footer*/
footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer-copy{
    margin-top: 30px;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

/*MEDIA QUERY*/
@media (max-width: 700px){

    .header-one{
    flex-direction: column;
    margin-top: 70px;
    padding: 50px;
}
    .header-one img{
        max-width: 400px;
    }

    .container-two video{
        max-width: 100%;
    }
    .container-three{
        flex-direction: column;
    }
    .container-three h1{
        margin-top: 20px;
    }
    footer{
        flex-direction: column;
        width: 100%;
        height: 100px;

    }
    /*MENU*/
    header .container-menu{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color:rgba(142, 216, 231, 0.911);
    }

    .menu-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}